body {
  text-align: center;
  background-color: #a2f8b5;
}

h1 {
  font-size: 5rem;
  color: #c972e8;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #050505;

}

footer {
  font-family: sans-serif;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0% 45%;
  padding: 2px;
}

.a {
  background-image: url("images/snare.png");
}

.n {
  background-image: url("images/tom1.png");
}

.k {
  background-image: url("images/tom2.png");
}

.i {
  background-image: url("images/crash.png");
}

.t {
  background-image: url("images/tom3.png");
}

.l {
  background-image: url("images/kick.png");
}

.s {
  background-image: url("images/tom4.png");
}

.set {
  margin: 10% auto;
  border: 2px solid #050505;
  border-radius: 20px;
  border-color: #03a426;
  padding: 5px;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: rgb(0, 0, 0);
}

.drum {
  outline: none;
  border: 10px solid #209901;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #3f403f;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

